* {
  margin: 0;
  padding: 0;
}

body {
  background-image: -ms-linear-gradient(top, #f7fceb 0%, #ebffc8 100%);
  background-image: -moz-linear-gradient(top, #f7fceb 0%, #ebffc8 100%);
  background-image: -o-linear-gradient(top, #f7fceb 0%, #ebffc8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f7fceb), color-stop(1, #ebffc8));
  background-image: -webkit-linear-gradient(top, #f7fceb 0%, #ebffc8 100%);
  background-image: linear-gradient(to bottom, #f7fceb 0%, #ebffc8 100%);
  background-repeat: no-repeat;
  background-size: 100%;
}

#container {
  height: 100%;
}

#logo {
  padding-bottom: 30px;
  margin: 0 auto;
}
