/* Global */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  padding-top: 120px;
  background-image: -ms-linear-gradient(top, #f7fceb 0%, #ebffc8 100%);
  background-image: -moz-linear-gradient(top, #f7fceb 0%, #ebffc8 100%);
  background-image: -o-linear-gradient(top, #f7fceb 0%, #ebffc8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f7fceb), color-stop(1, #ebffc8));
  background-image: -webkit-linear-gradient(top, #f7fceb 0%, #ebffc8 100%);
  background-image: linear-gradient(to bottom, #f7fceb 0%, #ebffc8 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

ul {
  list-style: none;
}

/* Widget */

.navbar {
  height: 80px;
}

.navbar-collapse.collapsing,
.navbar-collapse.in {
  background-color: #f8f8f8;
}

.nav {
  padding: 15px 0;
  font-size: 20px;
  font-weight: bold;
}

.nav li.active a {
  background-color: #009245 !important;
  color: #fff !important;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.well {
  padding: 5px;
}

.logo {
  padding: 5px;
  height: 80px;
}

.toggle {
  padding: 5px 10px;
}

/* Layout */

.graph-block {
}

.graph-block .cat {
  margin-top: 60px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.graph-block .stats {
  text-align: center;
  white-space: nowrap;
}

.graph-block .stats .avg {
  display: inline-block;
  width: 160px;
  font-size: 80px;
  font-weight: bold;
}

.graph-block .stats .val.deg:after {
  content: '\00b0';
}

.graph-block .stack {
  display: inline-block;
  position: relative;
  left: -10px;
}

.graph-block .stack .max,
.graph-block .stack .min {
  font-size: 25px;
}

.graph-block .status {
  font-size: 25px;
}

.graph-block .status.dim {
  opacity: 0.5;
}

.graph-block .status .pic {
  height: 50px;
}

.graph-block .graph {
  height: 320px;
}

.plan {
  padding: 20px;
}

.plan .pic {
  text-align: center;
}

.plan .pic img {
  width: 200px;
}

.plan .pic button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #f15a24;
  border: 1px solid #999;
  font-size: 20px;
  color: #f2f2f2;
  font-weight: bold;
}

.plan .desc {
}

.plan .desc .title {
  font-size: 25px;
  font-weight: bold;
}

.plan .desc .sub {
  margin: 10px 0;
  font-size: 20px;
  line-height: 28px;
  color: #666;
}

.plan .desc .txt {
  margin-left: 20px;
  line-height: 24px;
  font-size: 16px;
  list-style: circle;
}

